@import url("https://fonts.googleapis.com/css?family=Proxima+Nova");

* {
  box-sizing: border-box;
  transition: all ease 0.2s;
}

@font-face {
  font-family: "circular-font";
  src: url("../fonts/Circular/CircularStd-Book.otf") format("opentype");
}

body {
  font-family: "circular-font" !important;
  src: url("../fonts/Circular/CircularStd-Book.otf") format("opentype");
  background-color: #201f1f;
  color: #ffffff;
  font-weight: 300;
}
#root {
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  padding: 18px;
}
